.End {
    .End__Data {
        padding: 50px 20px;
        background: linear-gradient(180deg, rgba(235,170,99,1) 0%, rgba(149,93,28,1) 49%, rgba(232,182,121,1) 100%);
        border-radius: 30px;
        margin-bottom: 30px;
        border: 10px solid #fff;

        .L1 {
            font-size: 50px;
            color: #fff;
            margin-bottom: 15px;
            text-align: center;
            font-weight: 700;
        }

        .L2 {
            font-size: 23px;
            color: #fff;
            margin-bottom: 15px;
            text-align: center;
            font-weight: 700;
        }
    }

    button {
        padding: 10px 50px;
        font-size: 25px;
        color: #fff;
        background: linear-gradient(to bottom, #a06927 0%,#8c3310 50%,#752201 51%,#7f5318 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border-radius: 15px;
        border: 5px solid #fff;
        cursor: pointer;
        font-weight: 700;
    }
}
