.Game {
    width: 480px;
    margin: 0 auto;
}

.Board {
    width: 480px;
    position: relative;
    
    .Row {
        display: flex;

        &:nth-child(2n + 1) .Square:nth-child(2n + 1) {
            background-color: rgb(255, 222, 152);
        }

        &:nth-child(2n) .Square:nth-child(2n) {
            background-color: rgb(255, 222, 152);
        }
    }
}
