.Game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.StartNewGameBtn {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to bottom, #a06927 0%, #8c3310 50%, #752201 51%, #7f5318 100%);
    border-radius: 15px;
    border: 5px solid #fff;
    cursor: pointer;
    position: absolute;
    top: 15px;
}

.Board {
    //width: 500px;
    position: relative;
    border: 10px solid #000;
    background: #000;

    .Row {
        display: flex;

        &:nth-child(2n) {
            .Square:nth-child(2n) {
                background-color: #e8b679;
            }

            .Square:nth-child(2n + 1) {
                background-color: #bf8648;
            }
        }

        &:nth-child(2n + 1) {
            .Square:nth-child(2n) {
                background-color: #bf8648;
            }

            .Square:nth-child(2n + 1) {
                background-color: #e8b679;
            }
        }

        .Square {
            border-radius: 5px;
            margin: 2px;
            height: 56px;
            width: 56px;
        }
    }
}


.TreeWrapper {
    width: 90vw;
    height: 90vh;
    background: #fff;
    margin: 100px auto;
}
