.Start {
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin: 0 0 20px;
        font-size: 30px;
    }

    .Level {
        margin-bottom: 15px;
        padding: 20px;
        background: linear-gradient(180deg, rgba(235, 170, 99, 1) 0%, rgba(149, 93, 28, 1) 49%, rgba(232, 182, 121, 1) 100%);
        border-radius: 15px;
        border: 5px solid #fff;

        .Level__Title {
            font-size: 23px;
            color: #fff;
            margin-bottom: 15px;
            text-align: center;
            font-weight: 700;
        }

        .Level__Choices {
            display: flex;
            justify-content: center;

            .Level2 {
                background-color: #fff;
                padding: 5px 10px;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                color: #000;

                &:first-child {
                    border-radius: 15px 0 0 15px;
                }

                &:last-child {
                    border-radius: 0 15px 15px 0;
                }

                &.IsSelected {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }

    .RulesAndAlog {
        margin-bottom: 15px;
        padding: 20px;
        background: linear-gradient(180deg, rgba(235, 170, 99, 1) 0%, rgba(149, 93, 28, 1) 49%, rgba(232, 182, 121, 1) 100%);
        border-radius: 15px;
        border: 5px solid #fff;

        .RulesAndAlgo__Title {
            font-size: 23px;
            color: #fff;
            margin-bottom: 15px;
            text-align: center;
            font-weight: 700;
        }
    }

    .PlayerChoice {
        margin-bottom: 15px;
        padding: 20px;
        background: linear-gradient(180deg, rgba(235, 170, 99, 1) 0%, rgba(149, 93, 28, 1) 49%, rgba(232, 182, 121, 1) 100%);
        border-radius: 15px;
        border: 5px solid #fff;

        .PlayerChoice__Title {
            font-size: 23px;
            color: #fff;
            margin-bottom: 15px;
            text-align: center;
            font-weight: 700;
        }

        .PlayerChoice__List {
            display: flex;
            justify-content: center;

            >div:first-child {
                margin-right: 50px;
            }

            .PlayerList {
                .PlayerList__Title {
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    margin-bottom: 5px;
                }

                .PlayerList__Type {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    cursor: pointer;

                    .PlayerList__Types__Check {
                        width: 20px;
                        height: 20px;
                        background: transparent;
                        border: 3px solid #000;
                        border-radius: 50%;
                        margin-right: 5px;

                        &.IsSelected {
                            border: 3px solid #fff;
                            background: #000;
                        }
                    }

                    .PlayerList__Types__Name {
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .StartBtn {
        padding: 10px 50px;
        font-size: 25px;
        color: #fff;
        background: linear-gradient(to bottom, #a06927 0%, #8c3310 50%, #752201 51%, #7f5318 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border-radius: 15px;
        border: 5px solid #fff;
        cursor: pointer;
    }

}


.RadioGroup {
    margin-bottom: 10px;

    .RadioGroup__Title {
        margin-bottom: 5px;
        min-width: 100px;
        font-weight: 700;
    }

    .RadioGroup__Choices {
        display: flex;
        align-items: center;

        >div:first-child {
            margin-right: 15px;
        }
    }

    .Choices__Choice {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        cursor: pointer;

        .Choice__Check {
            width: 20px;
            height: 20px;
            background: transparent;
            border: 3px solid #000;
            border-radius: 50%;
            margin-right: 5px;

            &.IsSelected {
                border: 3px solid #fff;
                background: #000;
            }
        }

        .Choice__Name {
            font-size: 14px;
            color: #fff;
        }
    }
}
