.PlayerTile {
    margin: 0 50px;
    position: relative;
    padding-bottom: 50px;

    .PlayerTile__Content {
        background-color: #7f5318;
        border: 5px solid #fff;
        border-radius: 40px;
        padding: 20px 10px;
        min-width: 160px;

        .PlayerTile__Details {
            background: #3f280d;
            border-radius: 20px;
            padding: 20px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
            justify-content: center;

            .PlayerTile__Avatar {
                width: 50px;
                height: 50px;
                background-color: #000;
                border-radius: 50%;
                margin-bottom: 5px;
            }
        }
    

        .PlayerTile__Name {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
        }

        .PlayerTile__KilledPieces {
            font-size: 20px;
            padding-top: 10px;
            font-weight: 700;
            display: flex;
            align-items: center;

            .KilledPieces__Opponent {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 10px;
                box-shadow: 2px 2px 5px #000;
            }
        }
    }

    .Action {
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        animation: flash 1s infinite;
    }
}


@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
